<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>MCIA Publications</title>
	<link rel="icon" type="image/png" href="/img/mcia_logo.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.2/angular-material.min.css"></link>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.5.0/rzslider.min.css"></link>
	<link rel="stylesheet" href="/css/app.css"></link>
</head>

<body ng-app="app" ng-controller="MainController" layout="column">

	<!-- Application title -->
	<md-toolbar layout="row">
		<!-- App logo and title -->
		<div class="md-toolbar-tools" flex layout="row">
			<div layout-align="start center" id="app-logo">
				<img src="/img/mcia_logo.png" />
			</div>
			<h2>Publication Library</h2>
			<span flex></span>
			<div layout="row" layout-align="center center">
				<md-button ng-click="showLoginDialog($event)" ng-hide="authenticated">
					<div layout="row" layout-margin layout-align="center center">
						<md-icon md-svg-src="/img/icon/login.svg"></md-icon>
						<span>Login</span>
					</div>
				</md-button>
				<md-button ng-click="logout()" ng-show="authenticated">
					<div layout="row" layout-margin layout-align="center center">
						<md-icon md-svg-src="/img/icon/logout.svg"></md-icon>
						<span>Logout</span>
					</div>
				</md-button>
			</div>
		</div>
	</md-toolbar>

	<!-- Add content menu-->
	<md-fab-speed-dial md-direction="up" md-open="isMenuOpen" class="md-scale md-fab-bottom-right" ng-mouseleave="isMenuOpen=false">
		<md-fab-trigger>
			<md-button aria-label="menu" class="md-fab md-warn">
				<md-icon md-svg-src="/img/icon/menu.svg" aria-label="menu"></md-icon>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions>
			<div ng-repeat="(idx, item) in menuItems" ng-if="isMenuOpen">
				<md-button ng-if="isOptionVisible(item)" ng-click="handleMenuClick($event, idx)" class="md-fab md-raised md-mini" aria-label="{{item.name}}">
					<md-tooltip md-direction="left">{{item.name}}</md-tooltip>
					<md-icon md-svg-src="{{item.icon}}" style="color:rgba(0, 0, 0, 0.54);"></md-icon>
				</md-button>
			</div>
		</md-fab-actions>
	</md-fab-speed-dial>

	<!-- Main content -->
	<md-content flex layout="row">

		<!-- Sidenav author filter-->
		<md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
			<md-content class="md-padding" layout="column">
				<form name="authorForm">
					<div class="author-search" layout="row">
						<md-input-container flex="80" class="md-block">
							<label>Author</label>
							<input ng-model="query.author"></input>
						</md-input-container>
						<md-button ng-click="clearAuthor()">X</md-button>
					</div>
				</form>
				<md-list class="author-list">
					<md-list-item ng-repeat="author in authors | filter:{fullname: query.author} | orderBy:'fullname'" ng-click="selectAuthor(author)" ng-class="author.id===selectedAuthor.id ? 'selected-author' : ''">
						<img alt="{{ author.fullname }}" ng-src="{{ author.photo }}" class="md-avatar" />
						<p>{{ author.fullname }}</p>
					</md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>

		<!-- Publications view -->
		<md-content id="content" flex class="md-padding">

			<!-- Search form -->
			<md-content id="search-form" layout-padding class="md-whiteframe-z1">
				<form name="searchForm">
					<div layout="row" layout-sm="column">
						<md-input-container class="md-block" flex>
							<label>Search</label>
							<input ng-model="query.text" ng-change="searchPublications()" ng-model-options="{debounce: 500}"></input>
						</md-input-container>
						<md-input-container class="type-selector md-block">
							<label>Type</label>
							<md-select ng-model="query.type">
								<md-option ng-repeat="type in publicationTypes" value="{{ type }}">{{ type }}</md-option>
							</md-select>
						</md-input-container>
						<div class="year-slider" layout="column" layout-align="end center">
							<rzslider rz-slider-model="query.minYear" rz-slider-high="query.maxYear" rz-slider-options="yearSliderConfig"></rzslider>
						</div>
					</div>
				</form>
			</md-content>

			<!-- Publication cards -->
			<div flex layout="row" layout-wrap layout-align="center start">
				<md-card flex="95" flex-gt-lg="45" ng-repeat="pub in publications | filter:filterPublications | orderBy:['-score','-publishDate'] track by pub.id" class="publication">
					<md-card-header>
						<md-card-avatar class="publication-author">
							<img ng-src="{{ pub.authors[0].photo }}" class="md-avatar" alt="{{ pub.authors[0].fullname }}" ng-click="showAuthorDialog($event, pub.authors[0])" />
						</md-card-avatar>
						<md-card-header-text>
							<span class="md-title">{{ pub.authors[0].fullname }}</span>
							<span class="md-subhead">{{ getSecondaryAuthors(pub.authors) }}</span>
						</md-card-header-text>
						<md-menu md-position-mode="target-right target">
							<md-button class="md-icon-button" ng-click="openPublicationMenu($mdOpenMenu, $event)" aria-label="Publication Menu">
								<md-icon md-menu-origin md-svg-icon="/img/icon/dots-vertical.svg"></md-icon>
							</md-button>
							<md-menu-content width="3">
								<md-menu-item>
									<md-button md-menu-align-target ng-click="clickPublicationDetails($event, pub)">{{ authenticated ? 'Edit' : 'View' }} details</md-button>
								</md-menu-item>
								<md-menu-item ng-if="pub.url">
									<md-button ng-click="clickPublicationWebsite($event, pub)">Visit website</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button ng-click="clickPublicationReference($event, pub)">Export reference</md-button>
								</md-menu-item>
								<md-menu-item ng-if="authenticated">
									<md-button ng-click="clickRemovePublication($event, pub)">Remove publication</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</md-card-header>
					<md-card-title>
						<md-card-title-text>
							<span class="md-title">{{ pub.title }}</span>
							<span class="md-subhead" ng-click="showPublisherDialog($event, pub.publisher)">
								{{ pub.publisher.acronym }} ({{ pub.publishDate | date:'yyyy-MM' }}) - {{ pub.publisher.fullname | limitTo:55 }}{{ pub.publisher.fullname.length > 55 ? '...' : '' }}
							</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<p class="md-body-1">
							{{ pub.summary | limitTo:475 }}{{ pub.summary.length > 475 ? '...' : '' }}
						</p>
					</md-card-content>
				</md-card>
			</div>

			<div ng-if="showPagingButtons()" flex layout="row" layout-align="center center" layout-padding>
				<md-button ng-click="navPrevPage()" ng-if="showPrevButton()" class="md-icon-button" aria-label="Previous Page">
					<md-icon md-svg-src="img/icon/chevron-left.svg" style="color:rgba(0, 0, 0, 0.54);"></md-icon>
				</md-button>
				<span>Page {{ metadata.page + 1 }} / {{ metadata.totalPages }}</span>
				<md-button ng-click="navNextPage()" ng-if="showNextButton()" class="md-icon-button" aria-label="Next Page">
					<md-icon md-svg-src="img/icon/chevron-right.svg" style="color:rgba(0, 0, 0, 0.54);"></md-icon>
				</md-button>
			</div>

		</md-content>
	</md-content>

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-resource.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-aria.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.2/angular-material.min.js"></script>

	<!-- AngularJS Slider -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.5.0/rzslider.min.js"></script>

	<!-- App -->
	<script src="/js/app.js"></script>
	<script src="/js/service/utils.js"></script>
	<script src="/js/service/auth.js"></script>
	<script src="/js/service/rest.js"></script>
	<script src="/js/service/resources.js"></script>

	<!-- Controllers -->
	<script src="/js/controller/mainController.js"></script>
	<script src="/js/controller/loginFormController.js"></script>
	<script src="/js/controller/publicationFormController.js"></script>
	<script src="/js/controller/authorFormController.js"></script>
	<script src="/js/controller/publisherFormController.js"></script>
	<script src="/js/controller/referenceExportController.js"></script>

</body>

</html>
