<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>MCIA Publications</title>
	<link rel="icon" type="image/png" href="/img/mcia_logo.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.7/angular-material.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.11.0/rzslider.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/app.css">
</head>

<body ng-app="app" ng-controller="MainController" layout="column">

	<!-- Application title -->
	<md-toolbar layout="row">
		<!-- App logo and title -->
		<div class="md-toolbar-tools" flex layout="row">
			<div layout-align="start center" id="app-logo">
				<img src="/img/mcia_logo.png" />
			</div>
			<h2>Publication Library</h2>
			<span flex></span>
			<!-- Navigation buttons-->
			<div layout="row" layout-align="center center">
				<md-button ng-href="#/publications" ng-class="{'nav-location': isLocation('/publications')}">Publications</md-button>
				<span>|</span>
				<md-button ng-href="#/authors" ng-class="{'nav-location': isLocation('/authors')}">Authors</md-button>
				<span>|</span>
				<md-button ng-href="#/publishers" ng-class="{'nav-location': isLocation('/publishers')}">Publishers</md-button>
			</div>
			<span flex></span>
			<!-- Login buttons-->
			<div layout="row" layout-align="center center">
				<md-button ng-click="handleLogin($event)" ng-hide="auth.authenticated">
					<div layout="row" layout-margin layout-align="center center">
						<md-icon md-svg-src="/img/icon/login.svg"></md-icon>
						<span>Login</span>
					</div>
				</md-button>
				<md-button ng-click="handleLogout($event)" ng-show="auth.authenticated">
					<div layout="row" layout-margin layout-align="center center">
						<md-icon md-svg-src="/img/icon/logout.svg"></md-icon>
						<span>Logout</span>
					</div>
				</md-button>
			</div>
		</div>
	</md-toolbar>

	<div ng-view flex layout="row"></div>

	<!-- AngularJS Libraries -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular-resource.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular-aria.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular-messages.min.js"></script>

	<!-- Material Angular -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.7/angular-material.min.js"></script>

	<!-- AngularJS Slider -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.11.0/rzslider.min.js"></script>

	<!-- MomentJS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>

	<!-- Angular UI Bootstrap-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>

	<!-- App -->
	<script src="/js/app.js"></script>
	<script src="/js/service/utils.js"></script>
	<script src="/js/service/auth.js"></script>
	<script src="/js/service/rest.js"></script>
	<script src="/js/service/resources.js"></script>
	<script src="/js/service/rankings.js"></script>

	<!-- Controllers -->
	<script src="/js/controller/mainController.js"></script>
	<script src="/js/controller/publicationsController.js"></script>
	<script src="/js/controller/authorsController.js"></script>
	<script src="/js/controller/publishersController.js"></script>
	<script src="/js/controller/loginFormController.js"></script>
	<script src="/js/controller/publicationFormController.js"></script>
	<script src="/js/controller/authorFormController.js"></script>
	<script src="/js/controller/publisherFormController.js"></script>
	<script src="/js/controller/referenceExportController.js"></script>

</body>

</html>
