#app-logo {
  width: 45px;
  height: 45px;
  margin-right: 16px;
}
.author-search md-input-container {
  margin: 18px 18px -10px 14px;
}
.author-list p {
  line-height: 24px;
}
.selected-author {
  background-color: rgba(63, 81, 181, 0.2);
}
#content {
  /* Set publication backgroud to light gray  */
  background-color: rgb(245, 245, 245);
}
#search-form {
  margin-bottom: 12px;
}
#search-form .md-errors-spacer {
  /* Remove the space reserved for errors */
  min-height: 0px;
}
.publication md-card-title {
  padding: 0px 16px;
}
.publication p, span {
  text-align: justify;
  text-justify: inter-word;
}
.publication-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.md-dialog-content md-input-container {
  margin-top: 9px;
  margin-bottom: 9px;
}
.publisher-selector {
  /* Force the size and margin of the publisher
   in the Publication dialog */
  height: 54px;
  margin-top: 16px;
}
