<md-dialog ng-cloak flex="55" flex-sm="100">
  <form id="publisherForm">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ publisher.id ? 'Edit' : 'Add a new'}}
          publisher</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="row" layout-margin>

        <div flex layout="column" layout-margin>
          <!-- Acronym field -->
          <md-input-container class="md-block">
            <label>Acronym</label>
            <input ng-model="publisher.acronym">
          </md-input-container>

          <!-- Fullname field -->
          <md-input-container class="md-block">
            <label>Full name</label>
            <input ng-model="publisher.fullname">
          </md-input-container>

          <!-- Photo field -->
          <md-input-container class="md-block">
            <label>Type</label>
            <md-select ng-model="publisher.type">
              <md-option value="journal">Journal</md-option>
              <md-option value="conference">Conference</md-option>
              <md-option value="book">Book</md-option>
            </md-select>
          </md-input-container>
        </div>

      </div>
    </md-dialog-content>

    <!-- Save or discard buttons -->
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="discard()">Discard</md-button>
      <md-button ng-click="save(publisher)" class="md-primary" style="margin-right:20px;">Save</md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
