<md-dialog ng-cloak flex="100" flex-gt-md="70">
  <form id="publicationForm">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ readonly ? 'View' : (publication.id ? 'Edit' : 'Add a new')}}
          publication</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <!-- Autocomplete authors -->
        <md-input-container class="md-block">
          <label>Authors</label>
          <md-contact-chips ng-model="publication.authors" md-contacts="querySearch($query)" md-contact-name="fullname" md-contact-image="photo" md-require-match="true" md-highlight-flags="i" filter-selected="true"></md-contact-chips>
          <md-list class="fixedRows">
            <md-list-item class="md-2-line contact-item" ng-repeat="(idx, author) in allAuthors" ng-if="allAuthors.indexOf(author) < 0">
              <img ng-src="{{author.photo}}" class="md-avatar" alt="{{author.fullname}}"/>
              <div class="md-list-item-text compact">
                <h3>{{author.fullname}}</h3>
              </div>
            </md-list-item>
          </md-list>
        </md-input-container>

        <!-- Publisher field -->
        <md-input-container class="md-block publisher-selector">
          <label>Publisher</label>
          <md-select ng-model="publication.publisher" ng-model-options="{trackBy: '$value.id'}">
            <md-optgroup label="Journal">
              <md-option ng-value="publisher" ng-repeat="publisher in allPublishers | filter: {type: 'journal'}">
                {{ publisher.acronym + ' - ' + publisher.fullname }}
              </md-option>
            </md-optgroup>
            <md-optgroup label="Conference">
              <md-option ng-value="publisher" ng-repeat="publisher in allPublishers | filter: {type: 'conference'}">
                {{ publisher.acronym + ' - ' + publisher.fullname }}
              </md-option>
            </md-optgroup>
            <md-optgroup label="Book">
              <md-option ng-value="publisher" ng-repeat="publisher in allPublishers | filter: {type: 'book'}">
                {{ publisher.acronym + ' - ' + publisher.fullname }}
              </md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>

        <!-- Title field -->
        <md-input-container class="md-block">
          <label>Title</label>
          <input ng-model="publication.title">
        </md-input-container>

        <!-- Abstract textarea -->
        <md-input-container class="md-block">
          <label>Abstract</label>
          <textarea ng-model="publication.summary" md-maxlength="2000" rows="4"></textarea>
        </md-input-container>

        <!-- URL field -->
        <md-input-container class="md-block">
          <label>Website</label>
          <input ng-model="publication.url">
        </md-input-container>

        <!-- Citation textarea -->
        <md-input-container class="md-block">
          <label>Reference</label>
          <textarea ng-model="publication.reference" md-maxlength="500" rows="2"></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>

    <!-- Save or discard buttons -->
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="discard()">Cancel</md-button>
      <md-button ng-click="save(publication)" ng-hide="readonly" class="md-primary">Save</md-button>
      <span flex="5"></span>
    </md-dialog-actions>

  </form>
</md-dialog>
