/*
* Main window & navigation
*/

#app-logo {
  width: 45px;
  height: 45px;
  margin-right: 16px;
}
#content {
  background-color: rgb(245, 245, 245);
  overflow-y: scroll;
}
.nav-location {
  font-weight: bold;
}

/*
* Publications view
*/

.author-search md-input-container {
  margin: 32px 40px 0px 30px;
}
.author-search .md-errors-spacer {
  min-height: 0px;
}
.author-search md-list {
  margin: 8px 12px;
}
.author-list p {
  line-height: 24px;
}
.selected-author {
  background-color: rgba(63, 81, 181, 0.2);
}
#search-form {
  margin-bottom: 12px;
  overflow: visible;
}
#search-form .md-errors-spacer {
  /* Remove the space reserved for errors */
  min-height: 0px;
}
#search-form .type-selector {
  width: 120px;
  margin-left: 16px;
}
.year-slider {
  /* Use fixed width because the slider does not
  render properly when using flex */
  width: 250px;
  padding-bottom: 4px;
  margin-left: 16px;
}
.publication md-card-title {
  padding: 0px 16px;
}
.publication p, span {
  text-align: justify;
  text-justify: inter-word;
}
.publication md-menu {
  padding: 0px;
}
.publication-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.publication md-card-title-text .md-subhead {
  cursor: pointer;
}
.md-dialog-content md-input-container {
  margin-top: 9px;
  margin-bottom: 9px;
}
.publisher-selector {
  /* Force the size and margin of the publisher
   in the Publication dialog */
  height: 54px;
  margin-top: 16px;
}
.reference-export {
  padding: 24px 64px 24px 48px;
}
.reference-export td {
  padding: 8px 0px;
  text-align: justify;
  text-justify: inter-word;
}
.reference-export td.reference-number {
  padding-right: 12px;
  vertical-align: top;
  text-align: left;
}
.reference-export td.error {
  color: red;
}

/*
* Publishers view
*/

.publisher-card {
  padding: 4px 24px;
}
.publisher-card md-card-title {
  padding: 16px 16px;
}
.publisher-card h1 {
  font-size: 26px;
  text-align: center;
  font-style: italic;
  margin-top: 32px;
  margin-bottom: 24px;
}
.publisher-card .md-headline {
  font-size: 24px;
}
.publisher-card .md-title {
  font-size: 20px;
  font-weight: normal;
}
.circled {
  border-radius: 100px;
  background: rgba(63, 81, 181, 0.5);
  color: white;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

/*
* Authors view
*/

.author-summary h1 {
  font-size: 30px;
  text-align: center;
  font-style: italic;
  margin-top: 46px;
  margin-bottom: 32px;
}
.author-summary md-whiteframe {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.author-summary .author-display {
  padding: 16px 0px;
}
.author-summary .md-media-md {
  width: 120px;
  height: 120px;
}
.author-summary .md-media-md img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
.author-summary span {
  text-align: center;
}
.author-summary .member-authors {
  margin-bottom: 16px;
}
.author-summary .external-authors {
  margin-bottom: 50px;
}
