<md-content class="md-padding" flex layout="column" layout-align="start center">

  <div flex="70">
    <md-card ng-repeat="(idx, author) in vm.authors" flex>
      <md-card-title>
        <md-card-title-media>
          <div class="md-media-md card-media">
            <img ng-src="{{ vm.author.photo }}" style="border-radius: 50%;"/>
          </div>
        </md-card-title-media>
        <md-card-title-text style="margin: 0px 20px;">
          <span class="md-headline">{{ vm.author.name }}</span>
          <span class="md-subhead">{{ vm.author.points }}</span>
          <uib-progressbar value="vm.author.points" max="vm.maxPoints"></uib-progressbar>
        </md-card-title-text>
      </md-card-title>
    </md-card>
  </div>

</md-content>
