<md-dialog ng-cloak flex="30" flex-sm="100">
  <form id="loginForm">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Login</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column" layout-margin>
        <md-input-container class="md-block">
          <label>User</label>
          <input ng-model="form.credentials.user">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input ng-model="form.credentials.password" type="password">
        </md-input-container>
        <p ng-show="form.error" style="color: red;">Login failed. Try again.</p>
      </div>
    </md-dialog-content>

    <!-- Login or cancel buttons -->
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="form.cancel()">Cancel</md-button>
      <md-button ng-click="form.login()" class="md-primary" style="margin-right:20px;">Login</md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
