<md-dialog ng-cloak flex="100" flex-gt-sm="75" flex-gt-md="60">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Export
        {{ vm.publications.length }}
        {{ vm.publications.length > 1 ? 'references' : 'reference' }}</h2>
    </div>
  </md-toolbar>

  <md-dialog-content class="reference-export">
    <table>
      <tr ng-repeat="(idx, pub) in vm.publications">
        <td class="reference-number">[{{ idx + 1 }}]</td>
        <td ng-if="pub.reference">{{ pub.reference }}</td>
        <td class="error" ng-if="!pub.reference">REFERENCE NOT AVAILABLE</td>
      </tr>
    </table>
  </md-dialog-content>

  <md-dialog-actions layout=" row">
    <span flex></span>
    <md-button ng-click="vm.close()">Close</md-button>
    <span flex="5"></span>
  </md-dialog-actions>

</md-dialog>
